body{
    background-image: linear-gradient( white,rgb(0, 176, 240));
}

.logo img{
    max-width: 100%;
}
.titulo h1{
    font-size: 2em;
    text-align: center;
}
.titulo h3{
    font-size: 1.3em;
    font-weight: 200;
    text-align: center;
}

.menu_principal{
    background-color: white;
}

.link_extensao p{
    margin-right: 5px;
}

.form{
    text-align:center;
}

.footer{
    margin-top: 20px;
    background-color: rgb(0, 176, 240);
}